trigger: none
pool: Ambujamall
steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'
- task: TerraformTask@5
  displayName: teraform init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    backendServiceArm: 'payro-service-connection'
    backendAzureRmResourceGroupName: 'vinayak_rg'
    backendAzureRmStorageAccountName: 'vinayakstg101'
    backendAzureRmContainerName: 'vinaycontainer'
    backendAzureRmKey: 'terrastate'
- task: TerraformTask@5
  displayName: terraform validate
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
- task: TerraformTask@5
  displayName: teraform plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    environmentServiceNameAzureRM: 'payro-service-connection'
