trigger:
 branches:
   include:
     - main
     - feature/03

pool: Ambujamall

stages:
- stage: init
  displayName: terraform init
  jobs:
  - job: terraforminit
    displayName: terraform init
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure/dev'
        backendAzureRmResourceGroupName: 'vinayak_rg'
        backendAzureRmStorageAccountName: 'vinayakstg101'
        backendAzureRmContainerName: 'vinaycontainer'
        backendAzureRmKey: 'terrastate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure/dev'
    # - task: TerraformTask@5
    #   inputs:
    #     provider: 'azurerm'
    #     command: 'plan'
    #     workingDirectory: '$(System.DefaultWorkingDirectory)infrastructure/dev'
    #     environmentServiceNameAzureRM: 'payro-service-connection'

    