trigger: none

pool: Ambujamall

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/dev'
    backendServiceArm: 'payro-service-connection'
    backendAzureRmResourceGroupName: 'vinayak_rg'
    backendAzureRmStorageAccountName: 'vinayakstg101'
    backendAzureRmContainerName: 'vinaycontainer'
    backendAzureRmKey: 'terrastate'
    backendAzureRmUseEntraIdForAuthentication: false
#   displayName: Terraformfmt
#   inputs:
#     provider: 'azurerm'
#     command: 'custom'
#     customCommand: 'fmt'
#     outputTo: 'console'
#     workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/dev'
# - task: TerraformTask@5
#   inputs:
#     provider: 'azurerm'
#     command: 'validate'
#     workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure/dev'
# - task: TerraformTask@5
#   inputs:
#     provider: 'azurerm'
#     command: 'plan'
#     workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure/dev'
#     environmentServiceNameAzureRM: 'payro-service-connection'
