trigger: none

pool: Ambujamall

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure/dev'
    backendAzureRmUseEntraIdForAuthentication: false
    backendServiceArm: 'payro-service-connection'
    backendAzureRmResourceGroupName: 'vinayak_rg'
    backendAzureRmStorageAccountName: 'vinayakstg101'
    backendAzureRmContainerName: 'vinaycontainer'
    backendAzureRmKey: 'terrastate'