trigger: none
pool: satyendrapool
steps:
- task: TerraformInstaller@1
  displayName: Terraform Install
  inputs:
    terraformVersion: 'latest'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)\infrastructure\dev'
    backendServiceArm: 'satyamconnection'
    backendAzureRmResourceGroupName: 'vinayak_rg'
    backendAzureRmStorageAccountName: 'vinayakstg101'
    backendAzureRmContainerName: 'vinaycontainer'
    backendAzureRmKey: 'terraformstate'