trigger:
- main

pool: Ambujamall

steps:
- checkout: self
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'
- task: TerraformTask@5
  displayName: Terraform Init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure/dev'
    backendServiceArm: 'payro-service-connection'
    backendAzureRmResourceGroupName: 'vinayak_rg'
    backendAzureRmStorageAccountName: 'vinayakstg101'
    backendAzureRmContainerName: 'vinaycontainer'
    backendAzureRmKey: 'terrastate'
- task: TerraformTask@5
  displayName: Terraform Fmt
  inputs:
    provider: 'azurerm'
    command: 'custom'
    workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure/dev'
    outputTo: 'console'
    customCommand: 'fmt'
    environmentServiceNameAzureRM: 'payro-service-connection'
- task: TerraformTask@5
  displayName: Terraform Vlidate
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure/dev'
- task: TerraformTask@5
  displayName: Terraform Plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure/dev'
    environmentServiceNameAzureRM: 'payro-service-connection'
